.mandatory {
	font-size: 14px;
	color: #ff0000;
}
.validationAlert {
	color: #ff0000;
    display: block;
    font-size: 11px;
    font-style: normal;
    line-height: 15px;
    margin-top: 6px;
    padding: 0 1px;
}
.action-icon {
	.edit-user {
	color: $k-blue;
		i {
			color: $k-blue;
			font-size: 18px;
		}
	}
}