@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Open Sans:400,600,700italic,900,400italic,300");
body {
	background: #f5f5f5;
	color: #333333;
	margin: 0;
	font-family: Open Sans, Source Sans Pro, Helvetica, Arial, sans-serif;
	padding:0 0 0 0;
	font-size:12px;
}
ul, ul li {
	margin:0;
	padding:0;
	list-style:none;
}
a {
	text-decoration:none;
}
.clearfix {
	clear:both;
}
.wrapper {
	margin:0 auto;
	width:100%;
}
#maincontent {
	background:#fff;
	padding:15px 82px;
	/*width:1080px;*/
	min-height:483px;
}
#maincontent h2 {
	margin:0 0 15px;
}
.header {
	background:#fff;
	border-bottom:1px solid #E8E8E8;
}
.headerLogin {
	border-bottom:0px solid #E8E8E8;
}
.headerLogin .logo {
	float:none !important;
	text-align:center;
	width:100% !important;
	margin-left:0 !important;
	padding:10px 0 !important;
}
.header .logo {
	float:left;
	/*width:20%;*/
	padding-bottom:15px;
	text-align:center;/*margin-left: -12px;*/
}
.headerAlign {
	padding:15px 80px 0;
}
.header .menu {
	float:right;
	/*width:40%;*/
	margin-top:46px;
}
.header .menu ul li {
	float:left;
	margin:0 3px;
}
.header .menu ul li a {
	color:#000;
	display:block;
	background:#f5f5f5;
	padding:5px 20px 6px;
	text-align:center;
	font-size:16px;
}
.header .submenu ul li a {
	padding:7px 20px !important;
}
.header .menu ul li div.submenu {
	position: absolute;
	display:none;
	margin-left:-10px;
	padding-top:10px;
}
.header .menu ul li:hover div.submenu {
	display:block;
}
.header .menu ul li div.submenu ul li {
	float:none !important;
}
.header .menu ul li div.submenu ul li a {
	text-align:left;
	font-size:14px;
}
/*Reset the submenu color*/
.header .menu ul li:hover div.submenu ul li a, .header .menu ul li a.active div.submenu ul li a {
	background: none repeat scroll 0 0 #f5f5f5;
	border-bottom: 1px solid #dadada;
	color: #000;
}
.header .menu ul li:hover div.submenu ul li a:hover, .header .menu ul li a.active div.submenu ul li a.active {
	color:#fff;
	background:#c7081b;
}
.submenu ul li a.active {
    color:#fff !important;
    background:#c7081b  !important;

}
#footer {
	clear:both;
}
.footer {
	background: none repeat scroll 0 0 #ddded4;
	line-height: 22px;
	padding: 5px 80px;
	text-align: right;
}
.footer a {
	color:#000;
}
/************************Login Css**********************/
.loginform {
	background: none repeat scroll 0 0 #fbfbf8;
	border: 1px solid #ccc;
	margin: 20px auto 0;
	padding: 20px 20px 5px;
	width: 33%;
}
.loginform form {
/*text-align:center;*/
}
.loginform form input {
	border: 1px solid #ccc;
	font-size: 16px;
	padding: 8px;
	width: 100%;
	cursor:pointer;
}
.loginform form label {
	float: left;
	font-size: 17px;
	margin-right: 15px;
	text-align: right;
	width: 22%;
}
.loginform h1 {
	font-size:24px;
	vertical-align:middle;
	margin:0 0 10px !important;
	font-weight: normal;
}
.loginform .gapping {
	padding:10px 0;
}
.gapping {
	padding:15px;
	overflow:hidden;
}
.loginform button, button {
	background: none repeat scroll 0 0 #c7081b;
	border: 1px solid #c7081b;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 6px 20px;
	margin-top: 25px;
}
button {
	margin-top:0 !important;
}
.forgotPass {
	color: rgb(51, 51, 51);
	display:block;
	font-size: 16px;
	margin-top: 10px;
}
.remember {
	float: left !important;
	margin-right: 9px;
	text-align: left;
	width: 7% !important;
	margin-left: 0 !important;
}
.rememberText {
	text-align: left ! important;
	line-height: 17px;
	font-size: 16px;
}
/************************header Css**********************/
.header .menu ul li a.active, .header .menu ul li:hover a {
	background: none repeat scroll 0 0 #c7081b;
	color: #fff;
}
.manageform {
	background: none repeat scroll 0 0 #fbfbf8;
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 20px;
}
.manageform form {
	margin-bottom:7px;
}
.manageform .row {
	padding:10px;
}
.manageform form input, .manageform form select, .table input, .table select {
	border: 1px solid #ccc;
	padding: 8px;
	width: 75%;
}
.manageform form select, .table select {
	padding:6px !important;
}
.manageform form select, .table select {
	color: #676767 !important;
}
.manageform form select option, .table select option {
	padding:2px 6px;
}
.table input, .table select {
	width: 100% !important;
}
.manageform form label {
	float: left;
	font-size: 14px;
	padding: 10px;
	text-align: right;
	width: 17%;
}
.leftInput {
	width:50%;
	float:left;
}
.rightInput {
	float:right;
	width:50%;
}
.left {
	float:left;
}
.right {
	float:right;
}
.manageform .manageButton {
	text-align:center;
	margin-top:12px !important;
}
.table {
	background: none repeat scroll 0 0 #fbfbf8;
	border-left: 1px solid #ededed;
	border-top: 1px solid #ededed;
	margin-bottom: 20px;
}
.table th, .table tr td {
	border-bottom: 1px solid #ededed;
	border-right: 1px solid #ededed;
}
tr td a, tr td a:hover {
	color:#333;
}
.table th {
	background: none repeat scroll 0 0 #f7f7f7;
}
.table td, .table th {
	font-size: 14px;
	padding: 13px;
	vertical-align: top;
}
.space {
	margin-right:6px;
}
.grayButton {
	background: none repeat scroll 0 0 #808080 !important;
	border: 1px solid #808080 !important;
	color: #fff !important;
	margin-left: 15px;
}
.changepassForm form label {
	width: 30% !important;
	margin-right: 11px !important;
}
.add {
	margin-right:10px;
	color:#333333;
}
.addIcon {
	background: url("../images/add.png") no-repeat scroll 4px 3px transparent;
	border: 1px solid #161d8f;
	float: right;
	font-size: 15px;
	height: 21px;
	padding: 2px;
	width: 23px;
}
.resendIcon {
	margin-top: 0;
	position: absolute;
}
.CalenderIcon {
	margin-top:-1px !important;
	cursor:pointer;
}
.categoryDetails {
	padding: 0 0 0px;
	border:none;
	border-top:1px solid #ececec;
}
.categoryDetails form {
	margin:0 !important;
}
.categoryDetails h2 {
	/*border-bottom: 1px solid #ccc;*/
	margin: 0 10px !important;
	padding: 10px;
}
.categoryDetails .row {
	padding: 10px 10px 20px;
}
.subcategoryDetails {
	border-bottom: 1px solid #ececec;
}
/******************Alert Msgs*****************************/
.alert-success {
	background: none repeat scroll 0 0 #dff0d8;
	border: 1px solid #d9ebcc;
	color: #65854c;
}
.alert {
	font-size: 13px;
	margin: 10px 0;
	padding:10px;
}
.alert p {
	margin: 8px 0 !important;
}
.alert-error {
	background:#f2dede;
	border:1px solid #eed4d6;
	color:#cd574e;
}
.alert-info {
	background:#d9edf7;
	border:1px solid #cbedf4;
	color:#499bd0;
}
.error, .validationAlert {
	color: #ff0000;
	
}
 .validationAlert
 {
background: url("../images/error.png") no-repeat scroll 0 0 transparent;
margin-top: 5px;
    padding-left: 20px;
 }
  .validationError
  {
	  float: right;
    width: 75%;
  }
/******************Multiselect Css*****************************/
.chosen-container-multi .chosen-choices {
	background-image:none !important;
	border: 1px solid #ccc !important;
	padding: 3px 5px !important;
}
.chosen-container-multi .chosen-choices li.search-choice span {
	color:#000;
}
.chosen-container-active .chosen-choices {
	box-shadow:none !important;
}
/******************Calender Css*****************************/
.ui-widget-header .ui-icon {
	background-image:url(../images/ui-icons_ffffff_256x240.png) !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	border: 1px solid #ec021d !important;
	background-color:transparent !important;
	color:#ec021d !important;
}
.ui-widget-header {
	background:#c7081b !important;
	border: 1px solid #c7081b !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: 1px solid #ec021d !important;
	color:#ec021d !important;
}
/* pagination */
.pagination {
	float:right;
	display:block;
	overflow:hidden;
}
.pagination li {
	float:left;
	margin:0 0 0 7px;
}
.pagination li a, .pagination li.active span, .pagination li.disabled span {
	background: none repeat scroll 0 0 #808080;
	border: 1px solid #808080;
	display: block;
	font-size: 14px;
	padding: 5px 10px;
	vertical-align: middle;
	color:#fff;
}
.pagination li.active span {
	background: none repeat scroll 0 0 #c7081b;
	border: 1px solid #c7081b;
	color: #fff;
}
/* expanded row */
#add_ExpenseRow {
	width:auto !important;
}
/* btn */
.login-btn.red-btn {
}
.red-btn {
	background: #d6031e;
	color:#fff;
	border: 0 none !important;
}
/* confirmbox */
#popup_container {
	font-family: Open Sans, Source Sans Pro, Helvetica, Arial, sans-serif;
	font-size:14px !important;
	left: 38% !important;
	min-width: 250px !important;
	border:0 none !important;
}
#popup_content {
	margin: 0 !important;
	padding: 1.5em 0 0 !important;
}
#popup_overlay {
	background: none repeat scroll 0 0 #000 !important;
	opacity: 0.4 !important;
}
#popup_container {
	top: 35% !important;
}
#popup_message {
	margin: 0 1em;
	text-align: center;
	padding-left:0 !important;
}
#popup_panel {
	margin: 1.5em 0 !important;
	text-align: center;
}
#popup_panel input[type="button"] {
	border: 0 none;
	display: inline-block;
	font-size: 14px !important;
	padding: 10px;
}
#popup_ok {
	background: none repeat scroll 0 0 #c7081b;
	color: #fff;
}
#popup_cancel {
	background: none repeat scroll 0 0 #808080;
	color: #fff;
}
.tableWrapper {
	overflow:hidden;
}
.mandatory {
	color:#ff0000;
}
