.login-container {
	#msg {
		padding: 12px;
	}
    margin: 30px auto;
    max-width: 360px;
    padding:0 15px;
    form {
		position: relative;
		border: 1px solid #ddd;
		background-color: #f3f4f6;
    }
    fieldset {
    	background-color: rgba(255,255,255,0.9);
    	display: block;
    	position: relative;
    	padding: 25px 15px 15px;
    }
    header {
    	padding: 15px 13px;
    	border-bottom: 1px solid #ddd;
    	h2 {
    		margin: 0;
    		font-size: 18px;
    		font-weight: 400;
    		color: $k-black;
    	}
    }
    form {
    	section {
    		margin-bottom: 15px;
    		position: relative;
    	}
    	label {
			color: #333;
			display: block;
			font-size: 13px;
			font-weight: 400;
			line-height: 19px;
			margin-bottom: 6px;
			text-align: left;
			white-space: normal;
			.mandatory {font-size: 14px; color: #ff0000;}
    	}
		.input {
			display: block;
			position: relative;
			input {
				-moz-appearance: none;
				background: #fff none repeat scroll 0 0;
				border-radius: 0;
				border-style: solid;
				border-width: 1px;
				box-sizing: border-box;
				color: #404040;
				display: block;
				font: 13px/16px "Open Sans",Helvetica,Arial,sans-serif;
				height: 32px;
				outline: 0 none;
				padding: 5px 10px;
				width: 100%;
				padding-right: 37px;
				
			}
			i {
				border-color: #dbdbdb;
				border-left-style: solid;
				border-left-width: 1px;
				padding-left: 3px;
				right: 5px;
				color: #a2a2a2;
			}
		}
    	.icon-append {
			font-size: 14px;
			height: 22px;
			line-height: 22px;
			position: absolute;
			text-align: center;
			top: 5px;
			width: 22px;
	    }
    }
    footer {
	    border-top: 1px solid rgba(0, 0, 0, 0.1);
	    display: block;
	    padding: 15px 13px;
	    overflow: hidden;
    }
    .btn {
		cursor: pointer;
		float: right;
		font: 400 15px/29px "Open Sans",Helvetica,Arial,sans-serif;
		height: 31px;
		margin: 0;
		padding: 0 22px;
		border-radius: 2px;
    }
}