.panel {
	.panel-score {
		.table>tbody>tr>td {
			padding: 8px 14px;
		}
	}
	form {
		input, select, textarea {
			border-radius: 0;
		}
		textarea {
			resize: none;
		}
	}
}
.inner-form-wrapper .page-header {
	margin-top: 0;
}

.page-header-wrapper {
	border-bottom: 1px solid #e9eaec;
	overflow: hidden;
	margin-bottom: 15px;
	padding-bottom: 15px;
	.page-heading {
		h2 {
			margin: 0;
			line-height: 34px;
			font-size: 24px;
		}
		float: left;
	}
	.header-actions {
		float: right;

		.add-user {
			background-color: #fff;
			position: relative;
			padding-left: 45px;
			overflow: hidden;
			height: 34px;
			color: #000;
			border: 1px solid $k-blue;
			i {
				position: absolute;
				font-size: 26px;
				left: 0;
				width: 34px;
				line-height: 34px;
				top: 0px;
				height: 34px;
				text-align: center;
				background-color: $k-blue;
				color: #fff;
			}
			&:hover {
				background-color: $k-blue;
				color: #fff;
			}
		}
	}
}