.btn {
	&.btn-primary {
		background-color: $k-red;
		border-color: $k-red;
		color: #fff;
	    font: 400 15px "Open Sans",Helvetica,Arial,sans-serif;
	    border-radius: 2px;
	    line-height: normal;
	}
	&.btn-secondary {
		font: 400 15px "Open Sans",Helvetica,Arial,sans-serif;
		border-radius: 2px;
	    line-height: normal;
	}
}