body {
	&.nav-toggle {
		.navigation {
		    left: -170px;
		    &::before {
		    	left: -170px;
		    }
		}
	}
}
.navigation {
    background-color: $k-blue;
    margin-top: 55px;
	width: 170px;
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	transition: left 0.3s ease-out;
	-webkit-transition: left 0.3s ease-out;
    &::before {
	    background-color: $k-blue;
	    bottom: 0;
	    content: "";
	    left: 0;
	    position: fixed;
	    top: 0;
		transition: left 0.3s ease-out;
		-webkit-transition: left 0.3s ease-out;
	    width: 170px;
	    z-index: -1;
	        
	}
	.nav > li > a {
		color: #fff;
		font-weight: 400;
		font-size: 14px;
		&:focus, &:hover {
			background-color: rgba($k-red, 0.1);
		}
	}
}