body {
	&.nav-toggle {
		.navigation {
		    left: -170px;
		    &::before {
		    	left: -170px;
		    }
		}
	}
}
.navigation {
    background-color: rgba($k-blue,0.75);
    margin-top: 45px;
	width: 170px;
	position: fixed;
	left: 0;
	bottom: 0;
	top: 0;
	transition: left 0.3s ease-out;
	-webkit-transition: left 0.3s ease-out;
    &::before {
	    background-color: rgba($k-blue,0.75);
	    bottom: 0;
	    content: "";
	    left: 0;
	    position: fixed;
	    top: 0;
		transition: left 0.3s ease-out;
		-webkit-transition: left 0.3s ease-out;
	    width: 170px;
	    z-index: -1;
	        
	}
	.nav {
		li {
			> a {
				color: #fff;
				font-weight: 400;
				font-size: 14px;
				position: relative;
				.fa-angle-right {
					position: absolute;
					right: 8px;
					top: 13px;
				}
				&:focus, &:hover {
					background-color: rgba($k-blue, 1);
				}
			}
			&.active {
				> a  {
					background-color: rgba($k-blue, 1);
				}
			}
		    
		}
		> li li > a {
			padding-top: 6px;
			padding-bottom: 6px;
		}
	}
}