/*
	Author: Imran Shaikh
	Version: 1.0
 */
$r100  : #ff0000;
$rlogo : #c70000;
$rlogo75 : #db4040;
$rlogo70 : #dd4c4c;
$b100  : #000000;
$b30   : #292929;
$b60   : #f3f3f4;
$w100  : #fff;
$bd    : #e7eaec;
/* alignment */
$l : left;
$c : center;
$r : right;
/* reset */
body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #676a6c;
  background-color:$b60;
  overflow-x: hidden;
}
html {
	
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
h3,
h4,
h5 {
  margin-top: 5px;
  font-weight: 600;
}
:focus {
	outline: 0 !important;
}

.fixed-nav #wrapper {
	margin-top:0;
}
#wrapper {
	overflow-x: hidden;
	width:100%;
}
.logo-brand .navbar-brand {
	color:#fff;
}

/* loader */
.busy {
    background-color: #fff;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 9999;
}
#preloader {
	background-image: url("../../images/loader.gif");
	background-position: center center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
	z-index:9999;	
}


/* header */
.fixed-nav .navbar-minimalize {
	margin:14px 5px 5px 0;
}
.navbar-fixed-top {
	border-bottom:1px solid $b100;
	transition-duration: 0.5s;
	z-index:2030;
	min-height:60px;
}
.navbar-fixed-top, .navbar-static-top {
	background-color:$b30;
}
.navbar-minimalize {
	float:left;
	font-size:14px;
	margin:14px 5px 5px 20px;
	padding:6px 12px;
}
.navbar-top-links li {
	display:inline-block;
}
.top-links {
	padding:0 15px;
}
.logo-brand {
	display:inline-block;
	float:left;
	height:50px;
	padding:0;
	width:200px;
}
.nav.navbar-top-links.setting-links.navbar-right {
    margin-top: 10px;
}
.nav.setting-links {
	.dropdown {
		.dropdown-menu {
			position:absolute;
			width:100%;
			box-shadow:none;
			border:0;
			margin:0;
			padding:0;
			text-align:left;
		}
		li a {
			padding:7px 16px;
			color:#777;
		}
	}
	.welcome-message {
		color:$w100;
	}
	
	.dropdown a:hover,
	.dropdown.open a:hover,
	.dropdown.open a:focus,
	.open > a, 
	.open > a:hover,
	.open > a:focus{
		background-color:transparent;
		color:$w100;
	}
	.dropdown .dropdown-menu li {
		width:100%;
		a:hover {
			background-color:$rlogo75;
		}
	}
}
/* search filter */
.searchForm {
	background-color:$w100;
	padding:20px 0;
	overflow:hidden;
}
/*.searchForm.openSearch {
	opacity:1;
	display:block;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	transition: all 0.5s linear;
	
}*/
.align-right,
.btn.btn-white.close-filter {
	text-align:right;
}
.align-right {
	padding-top:10px;
	padding-bottom:10px;
}
.btn.btn-white.close-filter {
	padding:0;
	display:inline-block;
	*display: inline;
	zoom:1;
	.label {
		font-size:10px;
		font-weight:normal;
		background-color:#f3f3f4;
		color:$b100;
	}
}
/* title bar */
.page-title-wrapper {
	.page-header {
		margin-top:0;
		margin-bottom:0;
		border-bottom:0;
		padding-bottom:0;
		line-height:normal;
	}
}

.title-action {
    padding-top: 0;
    text-align: right;
}
.title-action {
	.btn {
		border:1px solid #e7eaec;
	}
	.btn.btn-white:focus {
		border:1px solid #e7eaec;
	}
	.btn:hover,
	.btn:active {
		background-image: none;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
		outline: 0 none;
	}
}
.page-title-wrapper {
	overflow:hidden;
	padding:20px 0 10px;
}
.pageHeading {
    border-top: 0 none;
	border-bottom:1px solid $bd;
}
/* main content */
.white-bg {
    background-color: $w100;
}
.gray-bg {
	background-color:$b60;
}
#page-wrapper {
	position:relative;
}


.main-container-inner {
	padding-top:20px;
	padding-bottom: 40px;
}
.login-page {
	#page-wrapper {
		margin:0;
	}
}
.pace-done .navbar-static-side, 
.pace-done .nav-header, 
.pace-done #page-wrapper,
.pace-done .footer.fixed {
	transition:0.5s linear all;
}




/* asidebar navigation*/
body.fixed-nav #wrapper .navbar-static-side, 
body.fixed-nav #wrapper #page-wrapper {
	margin-top:60px;
}
.navbar-default.navbar-static-side {
	background-color:$b100;
	
}
body.fixed-sidebar .navbar-static-side {
	height:100%;
	position:fixed;
	width:190px;
	z-index:2001;
	opacity:1;
}
#page-wrapper {
	margin-left:190px;
}
body.fixed-sidebar.mini-navbar .navbar-static-side {
	width:0;
	opacity:0;
}
body.fixed-sidebar.mini-navbar #page-wrapper {
	margin:0;
}
.navbar-static-side .metismenu li i.icon-left {
	margin-right:10px;
	width:16px;
}
.nav.metismenu li {
	overflow: hidden;
}
.nav.metismenu li a {
	color: $w100;
	background-color:transparent;
}
.nav.metismenu > li > a {
	padding: 14px 20px 14px 25px;
	-webkit-transition  : all 0.5s linear;
		-moz-transition : all 0.5s linear;
			transition  : all 0.5s linear;
}
.nav.metismenu li a:hover, 
.nav.metismenu li a:focus,
.nav.metismenu li.open > a:hover, 
.nav.metismenu li.open > a:focus {
	background-color: $rlogo75;
}
.nav.metismenu > li.active > a,
.nav.metismenu > li.active > .dropdown-menu > li.active a{
	background-color: $rlogo;
}
.dropdown {
	transitioin:0.5s linear all;
	.dropdown-menu {
		position:relative;
		width:100%;
		box-shadow:none;
		border:0;
		border-radius:0;
		margin:0;
		padding:0;
		background-color:#292929;
	}
	.dropdown-menu a {
		padding: 7px 10px 7px 52px
	}
	
}
.dropdown.open {
		.fa-angle-left::before {
			content: "\f107";
			
		}
	}
.metismenu {
	.fa-angle-left {
		float: right;
		line-height:1.42857;
		font-size:16px;
	}
	
}
.nav.metismenu .dropdown {
	.dropdown-menu > li a.fa-angle-left {
			line-height:normal;
		}	
}
/* footer */
.footer {
    background-color:$b100;
    border-top: 1px solid #e7eaec;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    right: 0;
}
body.mini-navbar .footer.fixed, 
body.body-small.mini-navbar .footer.fixed {
	margin:0 0 0 0;
}
.footer.fixed {
	background-color:$b100;
    border-top: 0;
    bottom: 0;
    left: 0;
	margin-left:190px;
    padding: 10px 20px;
	width:100%;
    position: fixed;
    right: 0;
    z-index: 1000;
}
.footer > p {
	color:#fff;
	margin:0;
}
.footer p a {
	color:#fff;
}
/* table */
.center {
    text-align: $c;
}
.left {
	text-align: $l;
}
tr th, tr td {
	font-size:13px;
}
.right {
	text-align: $r;
}
/* action */
.action-icon {
	a {
		color: $b100;
		text-decoration: none;
		padding:0.2em 0.6em 0.3em;
		transition:0.5s linear all;
		text-align:center;
		display:inline-block;
		i {
			text-align:center;
		}
	}
	a:hover {
		color: $w100;
		background-color:rgba(0,0,0,0.275);
	}
	form.delete-icon {
		display: inline-block;
		margin:0;
	}
}
/* table */
.label-status {
    color: #fff;
    display: inline-block;
    font-size: 75%;
    font-weight: bold;
    line-height: normal;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
	text-transform:capitalize;
}
.label-warning-inactive {
	background-color:$rlogo;
}
.label-warning-active {
	background-color:#1ab394;
}
/* form elements */
/* login form */
.smallbox {
	.innerContainer {
		margin: 5% auto 0;
		min-height: 480px;
		overflow: auto;
		width: 480px;
	}
	.form-container form {
		border: 1px solid #d2d2d2;
		background-color: #fff;
		padding: 20px;
		overflow: hidden;
		.form-heading .title {
			margin:0 0 20px;
			color:$b100;
			font-weight:400;
			
		}
	}
	
}

/* basic */
/*.form-container {
	.form-group {
		display:block;
		overflow:hidden;
	}
}
*/
.form-container {
	.form-group {
		.form-control {
			border-radius: 0;
		}
	}
	.has-black {
		color:$b100;
	}
}
.icon-wrap-red.input-group-addon {
	background-color:$rlogo;
	color:$w100;
	border:1px solid $rlogo;
	border-radius:0;
}
.icon-wrap-red.input-group-addon:hover {
	background-image: none;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
	outline: 0 none;
}
.action {
	.pull-center.buttons {
		text-align: center;
	}
	.btn {
		border: 0 none;
		border-radius: 0;
		color: rgba(255, 255, 255, 0.84);
		cursor: pointer;
		margin: 10px 1px;
		outline: medium none !important;
		padding: 8px 30px;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		transition: background-color 0.2s ease 0s, box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
	}	
	.btn:hover  {
		background-image: none;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
		outline: 0 none;
	}
	.btn.btn-black:hover  {
		background-image: none;
		box-shadow: 0 3px 5px rgba(255, 255, 255, 0.125) inset;
		outline: 0 none;
	}
	
}

.btn-red {
  color: $w100;
  background-color: $rlogo;
  border-color: $rlogo;
}
.btn-white {
  color: $b100;
  background-color: $w100;
  border-color: $w100;
}
.btn.btn-white:focus,
.btn.btn-white:hover {
  color: $b100;
  background-color: $w100;
  border-color: $w100;
}
.btn.btn-red:focus,
.btn.btn-red:hover {
  color: $w100;
  background-color: $rlogo;
  border-color: $rlogo;
}
.btn-black {
  color: $w100;
  background-color: $b100;
  border-color: $b100;
}
.btn.btn-black:focus,
.btn.btn-black:hover {
  color: $w100;
  background-color: $b100;
  border-color: $b100;
}


/* confirm modal */ 
#popup_overlay {
    background: #000 !important;
    opacity: 0.4 !important;
}
#popup_container #popup_title {
    display: none;
}
#popup_container {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
	border:0;
    color: #000;
    font-size: 14px;
    left: 38% !important;
    min-width: 250px !important;
}
#popup_message {
    margin: 0 1em;
    text-align: center;
	padding:0;
}
#popup_panel #popup_ok {
	color: $w100;
	background-color: $rlogo;
	border: 0 none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    margin: 10px 1px;
    outline: medium none !important;
    padding: 8px 30px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

#popup_panel #popup_cancel {
	color: $w100;
	background-color: $b100;
	border: 0 none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    margin: 10px 1px;
    outline: medium none !important;
    padding: 8px 30px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
#popup_panel #popup_cancel:hover,
#popup_panel #popup_ok:hover {
		background-image: none;
		box-shadow: 0 3px 5px rgba(255, 255, 255, 0.125) inset;
		outline: 0 none;
	}
/* validation alert */
.mandatory, .validationAlert {
	color:#ff0000;
}

/* pagination */
.pagination {
	float:right;
}

.table-responsive {
	.pagination > .disabled > span, 
	.pagination > .disabled > span:hover, 
	.pagination > .disabled > span:focus,
	.pagination > .disabled > a, 
	.pagination > .disabled > a:hover,
	.pagination > .disabled > a:focus {
		background-color: #fff;
		border-color: $rlogo;
		color: $rlogo;
	}
	.pagination > li > a,
	.pagination > li > span {
		background-color: #fff;
		border: 1px solid $rlogo;
		color: $rlogo;
	}
	.pagination > li > a:hover,
	.pagination > li > span:hover,
	.pagination > li > a:focus,
	.pagination > li > span:focus,
	.pagination > .active > a,
	.pagination > .active > span, 
	.pagination > .active > a:hover,
	.pagination > .active > span:hover,
	.pagination > .active > a:focus,
	.pagination > .active > span:focus {
		background-color: $rlogo;
		border-color: $rlogo;
		color: $w100;
	}
}


/* breadcrumbs */

.breadcrumb > li + li::before {
    color: #ccc;
    content: "/ ";
    padding: 0 5px;
}
.breadcrumb {
    background-color: $w100;
    margin-bottom: 0;
    padding: 10px 0;
}

/* datepicker override */
.pace-done {
	.ui-widget-header {
		background-image: none;
		background-color: $rlogo;
		border:0;
		border-radius:0 none;
		.ui-datepicker-next.ui-corner-all,
		.ui-datepicker-prev.ui-corner-all{
			background-color:$b100;
		}
		
		.ui-datepicker-next.ui-corner-all .ui-icon {
			font-family: 'Glyphicons Halflings';
		}
		.ui-datepicker-next.ui-corner-all .ui-icon.ui-icon-circle-triangle-w:before {
			content: "\e257";
		}
		select {
			color:$b100;
		}
	}
	.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
		background-color: $b100;
		color:$w100;
		border-radius:0;
		border:0;
	}
	.ui-datepicker-close.ui-state-default.ui-priority-primary.ui-corner-all {
		background-color:$rlogo;
		color:$w100;
		border:0;
		border-radius:0;
	}
	.ui-widget-content {
		border-radius:0;
		background-color:$w100;
		padding:0;
	}
}